header{
    background-color: #31382e;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a{
    width: 70%;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
}
.accueil, .propos, .fleurs{
    font-size: 3.5vh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #159133;
    font-weight: bold;
}
.accueil:hover, .propos:hover, .fleurs:hover{
    color: #D0EBC7;
}
.boribory, .boribory2{
    border: 0px solid black;
    border-radius: 50%;
    background-color: #159133;
    width: 4vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.boribory:hover{
   background-color: #D0EBC7; 
}

.dropdowna{
    position: relative;/* atao relative amle dropdown-content hatao absolute le atao devant*/
    display: inline-block;/*atao inline-block mino ah fa azoko antsaina sady inline le izy nefa izy block kkkk*/
}
.dropdowna-content{
    display: none;
    position: absolute;
    height: 40vh;
    width: 18vw;
    background-color:#e9f3e6;
    border-radius: 10%;
    box-shadow: 5px 8px 20px black;
}
.dropdowna:hover .dropdowna-content{/*c-à-d ref mihover am dropdown de dropdown-content no mi-assumer ny action
    zay no dikanle espace */
    display: block;
}
.section1{
    background: url(../img/fond.jpg) no-repeat center fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.contenupli{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email{
    font-size: 80%;
}
.bouton1et2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: space-around;
}
.seconnecter1{
    background-color: #159133;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 40%;
    width: 120%;
    border: 0px;
    border-radius: 8%;
    color: #e9f3e6;
    font-size: 120%;
}
.sinscrire1{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1.7px solid #159133;
    text-decoration: none;
    color: #159133;
    height: 40%;
    width: 120%;
    border-radius: 8%;
    font-size: 120%;
}
.menuburger{
    display: none;
    width: 10%;
    position: absolute;
    top:11px;/*rehefa hilalao top sy left right de tsy maintsy manao position absolute*/
    right: 20px;
}
.texte1{
    color: #e9f3e6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.florabe{
    font-size: 5rem;
    font-family:cursive;
    font-weight: bold;
}
.intro{
    font-size: 2rem;
}
.bouton3et4{
    margin-top: 5%;
    height: 10vh;
    width: 29vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 324px;
}
.bouton3{
    background-color: #159133;
    height: 7vh;
    width: 14vw;
    border-radius: 50px;
    color: #e9f3e6;
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: 148px;
}
.bouton4{
    border: 1.7px solid #159133;
    color: #159133;
    height: 7vh;
    width: 14vw;
    border-radius: 50px;
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: 148px;
}
.section2{
    background-color: #e9f3e6;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text2{
    height: 13%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
}
.trois-cartes{
    padding-top: -25%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.carte-un, .carte-deux, .carte-trois{
    background-color: rgb(255, 255, 255);
    margin-top: -1%;
    height: 100%;
    width: 25vw;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
    display: flex;
    flex-direction: column;
}
.misynysary1, .misynysary2, .misynysary3{
    height: 60%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.116);
}
.misynyprix1, .misynyprix2, .misynyprix3{
    background-color: #159133;
    height: 7%;
    width: 12%;
    border-bottom-left-radius: 50px;
    position: absolute;
    margin-left: 13.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;

}
.misynyanarana1, .misynyanarana2, .misynyanarana3{
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
}
.misynyprops1, .misynyprops2, .misynyprops3{
    font-size: 1rem;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.acheter{
    position: absolute;
    top: 158vh;
    margin-left: 7.8%;
    background-color: #cf0d0d;
    border:0;
    height: 6%;
    width: 10%;
    border-radius: 10px;
    font-size: 1.4rem;
    color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.493);
    display: none;
}
.voisp{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#251F4C;
    font-size: 1.3rem;
}
.section3{
    background-color: #505A51;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.saryefatra{
    height: 80%;
    width: 40%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap:2%;
}
.aboutus{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.aboutusfr{
    font-size: 3.7rem;
}
.text3{
    font-size: 1.3rem;
}
.section4{
    background-color: #e9f3e6;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 2% 0 2%;
}
.boribori1, .boribori2, .boribori3{
    background-color: whitesmoke;
    height: 60px;
    min-height: 60px;
    width: 60px;
    min-width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.178);
}
.boriboriuser{
    background-color: whitesmoke;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.178);
}
.lavalava1, .lavalava2, .lavalava3{
    background-color: white;
    border-radius: 50px;
    margin-left: 1%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    font-size: 1rem;
}
.coms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}
.coms1, .coms2, .coms3{
    display: flex;
    margin: 2% 0 2% 0;
}
.voir{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#251F4C;
    font-size: 1.3rem;
}
.ajoutercoms{
    display: flex;
    margin-bottom: 2%;
    position: relative;
}
.ajoutcoms{
    width:50%;
    border: 1px solid rgba(0, 0, 0, 0.144);
    background-color: white;
    border-radius: 50px;
    margin-left: 1%;
    box-shadow: 0px 0px 30px 10px rgba(88, 88, 88, 0.116) inset;/*le 10px faharoa propagation*/
    padding: 13px;
}
.ajoutcoms:focus{
    outline: none;/*manala anle tsipika ivelan'ny bordure rectangle iny*/
}
.envoyercoms{
    position: absolute;
    top: 2vh;
    left: 51.4%;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.220));/*le propriete filter ts maints mila webkit*/
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.220));
}
footer{
    background-color: #31382e;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-around;
}
.navigationblala{
    margin-top: 0.8%;
    padding-top: 0;
    height: auto;
    min-height: 31vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}
.florablala, .contactblala{
    margin-top: 0.8%;
    height: auto;
    min-height: 31vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}
.textblala, .text2blala{
    margin-top: 2%;
}
.formulaireblala{
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
#email, #pwd{
    width: 85%;
}
#submit{
    width: 50%;
    min-width: 104px;
}
.logoblala, .navblala, .contblala{
    font-size: 1.2rem;
    font-weight: bold;
}
.navigationblala{
    padding-left: 5%;
}
.accueilblala, .aproposblala, .fleursblala{
    margin-top: 5%;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.misynymessage{
    font-size: 0.7rem;
    color: red;
}
.miniflora{
    font-size: 2rem;
    font-weight: 600;
}
.minaccueil, .minpropos, .minfleur{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}
.miniflora, .contacticon, .miniform, .mininav{
    display: none;
}




/*Media screen rehetra*/
@media screen and (max-width:900px){
    .nav{
        width: 100%;
    }
    .dropdowna{
        display: none;
    }
    .menuburger{
        display: block;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding:0;
    }
    .logo{
        position: absolute;
        top:4px;
        left: 25px;   
    }
    .a{
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        top:0;/*atao top:0; satria tamle iz natao position absolute de ni-remonté par défaut tany ambony
        zay no matonga anle justify-content: center; otran we tsy mety nefa le .a mits no ni-remonté any ambony*/
        margin-left: 0;
        padding-bottom: 30%;
        background-color: rgba(2, 22, 2, 0.151);
        backdrop-filter: blur(8px);
    }
    .accueil, .propos, .fleurs{
        margin-top: 30%;
        color: #03bb31;
    }
}
@media screen and (max-width:1014px){
    .carte-trois{
        display: none;
    }
    .carte-un, .carte-deux{
        width: 35vw;
    }
    .misynyprix1, .misynyprix2, .misynyprix3{
        background-color: #159133;
        height: 7%;
        width: 15%;
        border-bottom-left-radius: 50px;
        position: absolute;
        margin-left: 20.6%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
    
    }
    .acheter{
        position: absolute;
        top: 158vh;
        margin-left: 10.8%;
        background-color: #cf0d0d;
        border:0;
        height: 6%;
        width: 14%;
        border-radius: 10px;
        font-size: 1.4rem;
        color: white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.493);
        display: none;
    }
    
}
@media screen and (max-width:723px){
    .section2{
        display: none;
    }
    .saryefatra{
        display: none;
    }
    .section3{
        display: flex;
        align-items: center;
    }
    .aboutus{
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
    }
    .text3{
        font-size: 1.3rem;
    }
    .aboutusfr{
        font-size: 3.2rem;
    }
    .florablala, .navigationblala, .contactblala, .formulaireblala{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #minform{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .miniflora, .contacticon, .miniform, .mininav{
        display: block;
    }
    .miniflora{
        margin-bottom: 2%;
    }
    .contacticon{
        margin-bottom: 4%;
        width: 60%;
        display: flex;
        justify-content: space-around;
    }
    .mininav{
        margin-top: 3%;
    }
    #minsubmit{
        margin-top: 3%;
    }
}
@media screen and (max-width:1178px){
    .text3{
        font-size: 1.1rem;
    }
    .aboutusfr{
        font-size: 3rem;
    }
}
@media screen and (max-width:800px){
    .text3{
        font-size: 1rem;
    }
    .aboutusfr{
        font-size: 2.7rem;
    } 
}
@media screen and (max-width:626px){
    .ajoutcoms{
        width:80%;
    }
    .envoyercoms{
        left: 82.4%;
    }
}
@media screen and (max-width:842px){
    .navigationblala{
        padding-left: 1.5%;
    }
}